html{
  height: 100%
}

body{
  background-color: blue;
  font-weight: 400;
  position: relative;
}

h3{
  margin-bottom: 0;
}

hgroup{
  margin-bottom: -1rem;
}

p{
  margin-top: 0;
  margin-bottom: 0rem;
  font-size: 30px;
}

#countdown{
  font-size: 50px;
}

.Countdown, .coming-soon, .soon, .Countdown hgroup{
  font-family: fantasy;
  color: #fefefe;
}

.countdown-title, .Countdown hgroup, h3, h4{
  font-size: 30px;
}

.navbar-default .navbar-brand {
    color: #5FCF80;
}

.navbar-default {
    background-color: #ffffff;
}

.course-text{
    padding: 84px;
}

.navbar-default .navbar-nav > li > a {
    color: #717f86;
    font-size: 14px;
    font-weight: 700;
}
.navbar-nav > li > a{
	margin: 0px 5px;
	padding: 0px 8px;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover
{
	color: #5FCF80;
}

.navbar-nav .active a{
    outline: none;
		color: #5FCF80 !important;
}

.navbar-default .navbar-brand {
    font-family: 'Dosis', sans-serif ;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px;
    height: inherit;
    font-size: 36px;
    margin: 20px 0px;
}

.navbar-default .navbar-brand span{
	font-weight: 100 !important;
}

.navbar {
    margin-bottom: 0px;
		font-weight: 700;
}
